---
---

$background: #F2F0F2;
$accent: black;
$hover: rgba(0, 0, 0, 0.1);
$weak-color: rgba(0, 0, 0, 0.2);
$hint-color: rgba(0, 0, 0, 0.5);
$mid-color: rgba(0, 0, 0, 1);
$first-split: 400px;

* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

form {
    width: 100%;
    padding: 10px 0;
    text-align: center;

}

.filter_row{
    text-align: center;
    p {
        white-space: pre-wrap;
        &.hint {
            color: $hint-color;
            @media only screen and (max-width: $first-split) {
                font-size: 0.9em;;
            }
        }
    }
}

input[type="text"] {
    outline: none;
    border: none;
    transition: background-color 0.2s;
    margin: 0 auto;
    display: block;
    font-size: 1.2em;
    width: 90%;
    max-width: 400px;
    background-color: $hover;
    padding: 9px 20px 7px 20px;
    text-align: left;
    border-radius: 20px;
    @media only screen and (max-width: $first-split) {
        font-size: 1em;
    }

    &:focus {
        outline: none;
        background-color: $weak-color;
    }
}

.img_holder {
    display: flex;
    justify-content: center;
    height: 100px;
    margin: 20px 0 10px 0;

    img {
        height: 100%;
    }
}

h1 { 
    font-size: 2.2em; 

    &.main_head {
        margin: 10px 0;
        text-align: center;
    }

    span.small {
        font-size: 0.7em;
        color: $mid-color;
    }

    @media only screen and (max-width: $first-split) {
        font-size: 2em;
    }
} 
     
h2 { 
    font-size: 2.0em;     
} 
     
h3 { 
    font-size: 1.8em; 
} 
     
h4 { 
    font-size: 1.6em;     
} 
     
h5 { 
    font-size: 1.4em;     
} 
     
a {
    color: $accent;
}

table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;

    th {
        text-align: left;
        padding: 5px 7px;
    }

    thead {
        border-bottom: 2px solid black;
        font-size: 1.2em
    }

    td {
        padding: 10px 7px;
    }


    td.software_tags {
        line-height: 28px;
    }

    tbody.highlight-hover {
        tr:hover {
            background-color: $hover;
        }
    }

    @media only screen and (max-width: $first-split) {
        th {
            text-align: left;
            display: none;
            width: 100%;
        }

        td {
            display: block;
        }

        td.software_name {
            padding: 10px;
        }

        td.software_tags {
            padding-top: 1px;
        }

        tr {
            margin: 5px 0;
            display: block;
        }
    }
}

body {
    margin: 0 5px;
    background-color: $background;
}

.pin_max_width {
    margin: 0 auto;
    max-width: 800px;
}

hr {
    height: 2px;
    background-color: black;
    margin: 10px 0px;
}

span.pill {
    background-color: $hover;
    padding: 3px 7px;
    border-radius: 10px;
    margin: 0 2px;
    white-space: nowrap;
    //box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    @media only screen and (max-width: $first-split) {
        font-size: 0.8em;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &.TAG_complex {
        background-color: #b5ead6;
    }

    &.TAG_custom {
        background-color: #55cbcd;
    }

    &.TAG_dist {
        background-color: white;
    }

    &.TAG_lang {
        background-color: #fdcf76;
    }

    &.TAG_type {
        background-color: #ffaea5;
    }

    &.TAG_vis {
        background-color: #e8dff5;
    }

    &.TAG_feat {
        background-color: #ffc8a2;
    }

    &.TAG_repr {
        background-color: #c7dbda;
    }

    button{
        font-size: 0.8em;
    }
}
button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

span.large_pill{
    background-color: $hover;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 1.2em;
    @media only screen and (max-width: $first-split) {
        font-size: 1em;
    }
}


a.nodec {
    text-decoration: none;
}


p.pill_bar {
    line-height: 40px;
    &.small_text {
        line-height: 28px;
    }
}

p.link_bar {
    text-align: right;
}

blockquote {
    border-left: 2px solid $weak-color;
    padding: 10px 10px;
    margin: 10px 10px;
}

ul,ol {
    margin-top: 10px;
    list-style-position: inside;
}

p.no_content {
    text-align: center;
    padding: 30px 10px;
}

.content p:not(:first-child){
    margin-top: 20px;
}

.hidden {
    display: none;
}
