---
layout: default
title: Search
---
<div class="img_holder"><img src="/images/cat.svg"/></div>
<h1 class="main_head">
    The
    C<span class="small">omputational</span>
    <span class="small">and</span>
    A<span class="small">pplied</span>
    T<span class="small">opology</span>
    List
</h1>
<form id="search-form" action="" method="get">
  <input type="text" id="search-box" name="query" placeholder="🔎 Search">
  <p class="pill_bar small_text hint" id="search-hint">
      Hint: Press enter to add the current search term as a tag filter.
  </p>
  <p class="pill_bar small_text hidden" id="filter-tags">
  </p>
</form>
<table >
    <thead>
        <th>Software</th>
        <th>Tags</th>
    </thead>
    <tbody id="table_body">
{% for software in site.software %}
    <tr id="{{software.id | xml_escape }}">
        <td class="software_name"><a href="{{ software.url }}">{{ software.name }}</a></td>
        <td class="software_tags">
        {% assign tag_list = software.tags | sort %}
        {% for tag in tag_list %}
            {%- assign tag_main = tag | split:"/" | first -%}
            <span class="TAG_{{ tag_main}} pill">{{ tag }} <button onclick="addTag('{{ tag }}')" class="add-button">➕</button></span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>


<script src="/js/search.js"></script>
