---
layout: default
title: Search
---
<div class="img_holder"><img src="/images/cat.svg"/></div>
<h1 class="main_head">
    The
    C<span class="small">omputational</span>
    <span class="small">and</span>
    A<span class="small">pplied</span>
    T<span class="small">opology</span>
    List
</h1>
<form id="search-form" action="" method="get">
  <input type="text" id="search-box" name="query" placeholder="🔎 Search">
</form>
<div class="filter_row">
<p class="hint" id="search-hint">
  Hint: Press enter to add the current search term as a tag filter.
</p>
<table>
<td class="software_tags hidden" id="filter-tags">
</td></table>
</div>
<table>
    <thead>
        <th>Software</th>
        <th>Tags</th>
    </thead>
    <tbody id="table_body" class="highlight-hover">
{% for software in site.software %}
    <tr id="{{software.id | xml_escape }}">
        <td class="software_name"><a href="{{ software.url }}">{{ software.name }}</a></td>
        <td class="software_tags">
        {% assign tag_list = software.tags | sort %}
        {% for tag in tag_list %}
            {%- assign tag_main = tag | split:"/" | first -%}
            <span class="TAG_{{ tag_main}} pill">{{ tag }}&nbsp;<button onclick="addTag('{{ tag }}', true)" class="add-button">➕</button></span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
<p class="please_contribute">
   Please contribute by making a pull request on <a href="https://github.com/cat-list/cat-list.github.io/">our Github</a>.
</p>
<script src="/js/search.js"></script>
