---
layout: default
title: Search
---
<div class="img_holder"><img src="/images/cat.svg"/></div>
<h1 class="main_head">
    The
    C<span class="small">omputational</span>
    <span class="small">and</span>
    A<span class="small">pplied</span>
    T<span class="small">opology</span>
    List
</h1>
<form action="/index.html" method="get">
  <input type="text" id="search-box" name="query" placeholder="🔎 Search">
</form>
<table >
    <thead>
        <th>Software</th>
        <th>Tags</th>
    </thead>
    <tbody id="table_body">
{% for software in site.software %}
    <tr id="{{software.id | xml_escape }}">
        <td class="software_name"><a href="{{ software.url }}">{{ software.name }}</a></td>
        <td class="software_tags">
        {% assign tag_list = software.tags | sort %}
        {% for tag in tag_list %}
            <span class="pill">#{{ tag  }}</span>
        {% endfor %}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>


<script src="/js/search.js"></script>
