<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/cat.svg">
    <!-- Search library -->
    <script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700&display=swap" rel="stylesheet">
    <!-- Analytics -->
    <script async src="https://umami.tomchaplin.xyz/script.js" data-website-id="8ce68729-cda3-47db-a008-ad2b02601779"></script>
    <title>{{ page.title }} @ The CAT List</title>
  </head>
  <body>
      <div class="pin_max_width">
        {{ content }}
      </div>
  </body>
</html>
